name: Domain Expiry Checker

on:
  schedule:
    # Berjalan setiap hari jam 01:00 UTC (jam 08:00 WIB)
    - cron: '0 1 * * *'
  workflow_dispatch: # Agar tombol "Run Workflow" muncul untuk ngetes manual

jobs:
  run-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run Script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python checker.py
